:root {
    --vp-c-brand-1: #5277d6;
    --vp-c-brand-2: #a8c6fd;
    --vp-c-brand-3: #3f5fb8;
    --vp-c-brand-soft: rgba(82, 119, 214, 0.14);
    --vp-nav-bg-color: rgba(255, 255, 255, 0.8);
    --vp-home-hero-image-background-image: radial-gradient(
        rgba(82, 119, 214, 0.5) 50%,
        rgba(82, 119, 214, 0.5)
    );
    --vp-home-hero-image-filter: blur(44px);
}

.dark {
    --vp-nav-bg-color: rgba(27, 27, 31, 0.8);
}

img {
    max-height: 400px;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery img {
    max-height: unset;
    height: none;
}

.gallery > .item {
    padding: 8px;
}

.gallery > .item.grid-4 {
    width: 100%;
}

.collapsible-header {
    font-size: 18px;
    font-weight: 600;
}
.collapsible-header-sub {
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }

    .gallery > .item.grid-4 {
        width: 50%;
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }

    .gallery > .item.grid-4 {
        width: 25%;
    }

    .VPNavBar:not(.home.top) {
        backdrop-filter: blur(12px);
    }
}